<nav  class="navbar navbar-expand navbar-dark bg-dark text-white">
    
        <a href="/admin">
            <i style="color: #fff; font-size: 20px;" class="bi bi-clipboard-data"></i>
            <label style="cursor: pointer; border-bottom: 1px solid #fff ;margin-left: 5px; color: #fff;" ><h4>Gerenciador de Usuários</h4></label>
        </a>
    
</nav>