<%- include('partials/header')%>
<%- include('partials/navbarAdmin')%>
<style>
    body{
        background-image: url('/img/admin.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<body>
    <hr>
    
    <div class="card mb-3 bg-dark text-white text-center" style="max-width: 500px; margin: 20px auto">
        <a style="text-decoration: none;" href="/users">
            <div class="row g-0 justify-content-center">
            <div class="col-md-5">
                <img src="/img/usuario.png" class="img-fluid rounded-start" alt="usu치rio">
            </div>
            <div class="col-md-10">
                <div class="card-body text-white">
                <h5 class="card-title">Usu치rios</h5>
                <div style="width: 100%; border: 1px solid #fff"></div><br>
                <p style="color: rgb(185, 184, 184);" class="card-text">
                    - Vizualizar lista de usu치rios, criar novo usu치rio, editar e excluir seus dados
                </p>
                </div>
            </div>
            </div>
        </a>
      </div>
      
      <hr>
</body>
</html>